<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <style>
        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 15px 0;
            position: fixed;
            width: 100%;
            bottom: 0;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        header {
            background-color: #7b231b;
            color: white;
            padding: 20px 0;
            text-align: center;
        }

        header h1 {
            margin: 0 0 10px 0;
            font-size: 28px;
            font-family: Arial, sans-serif;
        }

        header nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center; /* centre les liens */
            gap: 20px; /* espace entre les liens */
        }

        header nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            padding: 5px 10px;
            transition: background-color 0.3s, color 0.3s;
        }

        header nav ul li a:hover {
            background-color: white;
            color: #f44336;
            border-radius: 5px;
        }

    </style>
</head>
<body>
    <header>
        <h1>Bienvenue sur CRUDcroustillant</h1>
        <nav>
            <ul>
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{ path('burgers') }}">Nos Burgers</a></li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <p>&copy; 2024 CRUDcroustillant. Tous droits réservés.</p>
    </footer>
</body>
</html>
