{% extends 'base.html.twig' %}

{% block title %}Burger non trouvé{% endblock %}

{% block content %}
    <p>Erreur : Burger non trouvé</p>
    <a href="{{ path('home') }}">Retourner à l'accueil</a>
{% endblock %}